h1.page-title
    | {{ $root.__module.name + ':module:title' | translate }}&nbsp;
    small {{ $root.__module.name + ':module:subtitle' | translate }}

//- .m-heading-1.border-green.m-bordered(ng-if='message')
//-     h3 DataTables jQuery Plugin
//-     p
//-         | DataTables is a plug-in for the jQuery Javascript library. It is a highly flexible tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table.
//-     p
//-         | For more info please check out
//-         a.btn.red.btn-outline(href='http://datatables.net/', target='_blank') the official documentation
.portlet-container(ng-class="__id ? 'col-lg-7 visible-lg-block' : 'col-lg-12'")
    .portlet.light.bordered
        .portlet-body
            .dataTables_wrapper.no-footer.DTS
                .row
                    div(
                      ng-repeat="filter in filters",
                      ng-if="filters.length && filter.name && filter.type",
                      class="col-md-{{filter.bsSize || '4'}} col-sm-{{filter.bsSize || '4'}}")
                        //- custom filters
                        .form-group
                            //- type='select'
                            select.form-control(ng-if="filter.type == 'select'", ng-model='$parent.filter.value')
                                option( value='all' ) {{ 'all '+ (filter.label || filter.name) +':filter:' + $root.__module.name | translate }}
                                option( disabled, value='──────────' ) ──────────
                                option(  ng-repeat="o in filter.options", ng-value='o[filter.api.value]', ng-if="filter.api.value") {{ o[filter.api.show] + ":" +$root.__module.name | translate }}
                                option(  ng-repeat="o in filter.options", ng-value='o', ng-if="!filter.api.value") {{ o + ":" +$root.__module.name | translate }}

                            //- type='date' || type='datepicker'
                            datepicker(ng-if="filter.type == 'date' || filter.type == 'datepicker'", ng-model='$parent.filter.value')
                        //-.form-group.col-sm-4(
                            ng-repeat="filter in filters",
                            ng-if="filter.name && filter.type",
                            ng-class="{'col-md-6': filter.type == 'date' || filter.type == 'datepicker', 'col-md-3': filter.type != 'date' && filter.type != 'datepicker'}")

                            label.col-md-2.col-sm-1
                                | {{ (filter.label || filter.name) | translate}}&nbsp;
                                //- type='select'
                            .col-sm-9(
                              ng-class="{'col-md-10': filter.type == 'date' || filter.type == 'datepicker', 'col-md-9': filter.type != 'date' && filter.type != 'datepicker'}"
                              )
                                select.form-control(ng-model='$parent.filter.value', ng-if="filter.type == 'select'")
                                    option( value='all' ) {{ 'all:status:' + $root.__module.name | translate }}
                                    option( disabled, value='──────────' ) ──────────
                                    option(  ng-repeat="o in filter.options", ng-value='o[filter.api.value]', ng-if="filter.api.value") {{ o[filter.api.show] + ":" +$root.__module.name | translate }}
                                    option(  ng-repeat="o in filter.options", ng-value='o', ng-if="!filter.api.value") {{ o + ":" +$root.__module.name | translate }}

                                //- type='date' || type='datepicker'
                                datepicker.col-md-9.col-sm-9(ng-model='$parent.filter.value', ng-if="filter.type == 'date' || filter.type == 'datepicker'")


                    .col-md-5.col-sm-5(ng-show="!filters.length")
                        .form-group
                            label
                                | {{'Status'|translate}}&nbsp;
                                select.form-control.input-inline(ng-model='$parent.status')
                                    option( value='all' ) {{ 'all:status:' + $root.__module.name | translate }}
                                    option( disabled, value='──────────' ) ──────────
                                    option( value='' ) {{ 'active:status:' + $root.__module.name | translate }}
                                    option( value='new' ) {{ 'new:status:' + $root.__module.name | translate }}
                                    option( value='archived' ) {{ 'archived:status:' + $root.__module.name | translate }}

                        //- select columns
                        .form-group(ng-if='listViewConfig.selectColumns')
                            label
                                | {{ "Columns" | translate }}&nbsp;
                                custom-dropdown-multiselect(options="columns" selected-model="visibleColumns")

                    .col-md-5.col-sm-5(ng-show="!filters.length")
                        .form-group
                            .input-icon.right
                                i.icon-magnifier
                                input.form-control( type="text", ng-model="$parent.search", ng-model-options="{debounce: 250}", placeholder="{{'search:'+$root.__module.name|translate}}")
                    .col-md-2.col-sm-2.text-right
                        .btn-group.pull-right
                            button.btn.btn-sm.btn-outline.custom.dropdown-toggle(type='button', data-toggle='dropdown')
                                | {{ "Tools" | translate }}&nbsp;
                                i.fa.fa-angle-down
                            ul.dropdown-menu.pull-right(role='menu')
                                li
                                    a(href='javascript:;')
                                        i.fa.fa-print
                                        |  Print
                                li
                                    a(href='javascript:;')
                                        i.fa.fa-file-pdf-o
                                        |  Save as PDF
                                li
                                    a(href='javascript:;')
                                        i.fa.fa-file-excel-o
                                        |  Export to Excel

                list-view(
                ng-class='{detailed:__id}'
                columns="columns",
                data="data",
                config="listViewConfig",
                selected-fn="select",
                sort-fn="orderBy",
                at-bottom="loadMore()",
                filtered="filtered",
                item="item")


ng-include.portlet-container.col-lg-5.col-xs-12(ng-if='__id', src="$root.__module.subview || 'generic/details.pug'")
