form#filters
    input( type='search', ng-model='$parent.search', placeholder='{{"search:placeholder"|translate}}' )
    select.pull-right( ng-model='$parent.status' )
        option( value='all' ) {{ 'all:status:' + $root.__module.name | translate }}
        option( disabled, value='──────────' ) ──────────
        option( value='' ) {{ 'active:status:' + $root.__module.name | translate }}
        option( value='new' ) {{ 'new:status:' + $root.__module.name | translate }}
        option( value='archived' )
            | {{ 'archived:status:' + $root.__module.name | translate }}
    span( ng-if='total' ) {{'results:' + $root.__module.name | translate }} {{total}}
    span.loading( ng-if='total === undefined')
        | {{ 'loading:' + $root.__module.name | translate }}
list-view(
  ng-class='{detailed:__id}'
  columns="columns",
  data="data",
  config="listViewConfig",
  selected-fn="select",
  sort-fn="orderBy",
  at-bottom="loadMore()")
//-.list( ng-class='{detailed:__id}', scroll='scroll' )
    table
        thead: tr
            th( ng-repeat='column in columns', ng-click='orderBy(column)', ng-class='{ "sort-asc": (sorting.col == column && sorting.order == "asc"), "sort-desc": (sorting.col == column && sorting.order == "desc") }' )
                | {{ column + ':' + $root.__module.name + ':' + 'column' | translate }}
        tbody
            tr( ng-repeat='row in data', ng-click='select(row._id)', ng-class=' { active: row._id == __id, danger: isTOut(row) } ' )
                td( ng-repeat='column in columns')
                    span( ng-if='row[ column ] !== undefined && row[ column ] !== null && column === "icon"')
                        i(class="{{row[ column ]}}")
                    span( ng-if='row[ column ] !== undefined && row[ column ] !== null && column != "_id" && column != "icon"', title="{{(row[ column ]._id)?row[ column ]._id:row[ column ]}}" )
                        | {{ row[ column ] | localize }}
                    em( ng-if='column == "_id"')
                        | {{ row[ column ] }}
    .noData( ng-if='total === 0' )
        | {{ 'nodata:' + $root.__module.name | translate}}

ng-include.details( ng-class='{detailed:__id}', src="$root.__module.subview || 'generic/details.pug'" )
