doctype html
html(ng-app=app.name)
    head
        meta(charset="utf-8")
        //- meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title=app.name
        base(href='/'+app.name+'/')

        //- Hide ngcloak during application loading
        style.
            .ng-cloak{ display:none; }
            body{opacity:0;}
            noscript{
                position:fixed;
                z-index:99999999999;
            }

        //- Transfer app config
        script(language='javascript').
            var __appName = "#{app.name}",
                __appDependencies = !{ JSON.stringify( ngmodules || [] ) },
                __appRegister = "#{app.register}";

        //- Load Styles, Dependencies, Core application, Templates, App & Theme
        link(rel='stylesheet' href=`/${app.name}/__styles.css`)
        script(src=`/${app.name}/__dependencies.js`)
        script(src=`/${app.name}/__core.js`)
        script(src=`/${app.name}/__templates.js`)
        script(src=`/${app.name}/__app.js`)
        script(src='http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAfVX5W3FZpJU8YFjMunzeQhyVWrOv5R_s&sensor=false')
        
        //script(src='//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script(src='//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        
        script(language='javascript').
            jQuery(document).ready(function() { 
                   App.init(); // init metronic core componets
                   Layout.init(); // init layout
                   Demo.init();
                   QuickSidebar.init(); // init quick sidebar
            });
        
        link#style_color(rel='stylesheet', href='/assets/layouts/layout/css/themes/default.min.css')

        //-
            link(rel="shortcut icon" ng-href=`/themes/{{ $root.team.theme || "${app.defaultTheme}" }}/favicon.png`)
            link(rel="stylesheet" ng-href=`/themes/{{ $root.team.theme || "${app.defaultTheme}" }}.css`)


    body.page-header-fixed.page-sidebar-closed-hide-logo.page-content-white(ng-class='{collapsed:$root.collapseSidebar}')

        .page-wrapper
            //- NoJS warning
            noscript
                | This website needs JavaScript to work properly.
                | Please activate JS or use another browser.
            .page-header.navbar.navbar-fixed-top
                app-topnav
            .clearfix
            .page-container
                app-sidebar
                .page-content-wrapper
                    .page-content
                        // BEGIN STYLE CUSTOMIZER
                        .theme-panel.hidden-xs.hidden-sm
                            // .toggler
                            .toggler-close
                            .theme-options
                                .theme-option.theme-colors.clearfix
                                    span
                                        | THEME COLOR
                                    ul
                                        li.color-default.current.tooltips(data-style='default', data-container='body', data-original-title='Default')
                                        li.color-darkblue.tooltips(data-style='darkblue', data-container='body', data-original-title='Dark Blue')
                                        li.color-blue.tooltips(data-style='blue', data-container='body', data-original-title='Blue')
                                        li.color-grey.tooltips(data-style='grey', data-container='body', data-original-title='Grey')
                                        li.color-light.tooltips(data-style='light', data-container='body', data-original-title='Light')
                                        li.color-light2.tooltips(data-style='light2', data-container='body', data-html='true', data-original-title='Light 2')
                                .theme-option
                                    span
                                        | Layout
                                    select.layout-option.form-control.input-small
                                        option(value='fluid', selected='selected') Fluid
                                        option(value='boxed') Boxed
                                .theme-option
                                    span
                                        | Header
                                    select.page-header-option.form-control.input-small
                                        option(value='fixed', selected='selected') Fixed
                                        option(value='default') Default
                                .theme-option
                                    span
                                        | Sidebar Mode
                                    select.sidebar-option.form-control.input-small
                                        option(value='fixed') Fixed
                                        option(value='default', selected='selected') Default
                                .theme-option
                                    span
                                        | Sidebar Menu
                                    select.sidebar-menu-option.form-control.input-small
                                        option(value='accordion', selected='selected') Accordion
                                        option(value='hover') Hover
                                .theme-option
                                    span
                                        | Sidebar Style
                                    select.sidebar-style-option.form-control.input-small
                                        option(value='default', selected='selected') Default
                                        option(value='light') Light
                                .theme-option
                                    span
                                        | Sidebar Position
                                    select.sidebar-pos-option.form-control.input-small
                                        option(value='left', selected='selected') Left
                                        option(value='right') Right
                                .theme-option
                                    span
                                        | Footer
                                    select.page-footer-option.form-control.input-small
                                        option(value='fixed') Fixed
                                        option(value='default', selected='selected') Default
                        // END STYLE CUSTOMIZER

                        app-router(module="{{$root.__module.name}}")
            .page-footer
              .page-footer-inner
                | 2017 © IOT Factory

            
            div(ng-if="$root.__module.dependencies")
                link(rel="stylesheet", ng-repeat="file in $root.__module.dependencies.style", ng-href="{{file}}")
                script(ng-repeat="file in $root.__module.dependencies.script", ng-src="{{file}}")

            //- Custom routing
            ui-view(ng-show="!$root.__module || $root.__module.dynamic")

            script( src="//track.relationly.com/script", data-relationly="583ecc3aa56e9f0a00137d1c" )
