.portlet.box.green(ng-init='config.$open = !$index')
    .portlet-title(ng-click='config.$open = !config.$open;')
        .caption
            i.icon-magnifier
            span.caption-subject Search
        .actions
            span {{config.$open ? "&darr;" : "&uarr;"}}
    .portlet-body(ng-hide="!config.$open")
        form.form-inline
            .form-group(ng-hide="isGenericApp()")
                //- buildings
                select.form-control(ng-model="building")
                    option(value="") {{ 'allBuildings:alertsList' | translate }}
                    option(ng-repeat="building in buildings", ng-value="building") {{ building.name }}
            .form-group
                //- searchId
                input.form-control(ng-model="searchId" , placeholder="{{ 'alertId:alertsList' | translate }}")
            .form-group
                //- category
                select.form-control( ng-model='category' )
                    option( value='' ) {{ 'allCategories:alertsList' | translate }}
                    option( disabled, value='──────────' ) ──────────
                    option( value='public' ) {{ 'public:category:alertsList' | translate }}
                    option( value='technical' ) {{ 'technical:category:alertsList' | translate }}
            .form-group
                //- level
                select.form-control( ng-model='level' )
                    option( value='' ) {{ 'allLevels:alertsList' | translate }}
                    option( disabled, value='──────────' ) ──────────
                    option( value='low' ) {{ 'low:level:alertsList' | translate }}
                    option( value='medium' ) {{ 'medium:level:alertsList' | translate }}
                    option( value='high' ) {{ 'high:level:alertsList' | translate }}
                    option( value='critical' ) {{ 'critical:level:alertsList' | translate }}
            .form-group
                //- rules
                select.form-control( ng-model='rule' )
                    option( value='' ) {{ 'allRules:alertsList' | translate }}
                    option( disabled, value='──────────' ) ──────────
                    option(ng-repeat="rule in rules | orderBy:'+name'", ng-value="rule") {{ rule.name }}
            .form-group
                //- status
                select.form-control( ng-model='status' )
                    option( value='all' ) {{ 'allStatus:alertsList' | translate }}
                    option( disabled, value='──────────' ) ──────────
                    option( value='' ) {{ 'active:status:alertsList' | translate }}
                    option( value='new' ) {{ 'new:status:alertsList' | translate }}
                    option( value='archived' )
                        | {{ 'archived:status:alertsList' | translate }}
            //- dates
            .form-group
                input.form-control(type="date", ng-model="after", max="{{maxDate}}", ng-model-options="{allowInvalid: true}")
            .form-group
                input.form-control(type="date", ng-model="before", max="{{maxDate}}", ng-model-options="{allowInvalid: true}")
            //- tags input
            .row
                //- searchTags
                tags-input.col-xs-12(ng-model="searchTags", placeholder="{{'add:arrayInput'|translate}}")

.portlet.light.bordered(ng-class="__id ? 'col-lg-7 visible-lg-block' : 'col-lg-12'" style="margin-top: 20px;")
    .portlet-body
        .dataTables_wrapper.no-footer.DTS
            //- list-view
            list-view(
            ng-class='{detailed:__id}'
            columns="columns",
            data="data",
            config="{debug: true}",
            selected-fn="select",
            sort-fn="orderBy",
            at-bottom="loadMore()",
            filtered="filtered",
            item="item")

ng-include.details( ng-class='{detailed:__id}', src="'alertsList/details.pug'" )
