.col-xs-12
    .portlet.box.green(ng-init='config.$open = !$index', ng-hide="hideFilters").col-xs-12
        .portlet-title(ng-click='config.$open = !config.$open;').col-xs-12
            .caption
                i.icon-magnifier
                span.caption-subject Search
            .actions
                span {{config.$open ? "&darr;" : "&uarr;"}}
        .portlet-body(ng-hide="!config.$open").col-xs-12
            form.col-xs-12
                .form-group.col-lg-4.col-xs-4(ng-hide="isGenericApp()")
                    //- buildings
                    label(for="building")
                        | {{ "Choose building:alerts" | translate }}
                    select.form-control(ng-model="$root.report_data.building", ng-change="showBuilding()")
                        option(value="") {{ 'Choose building:alertsList' | translate }}
                        option(ng-repeat="bu in $root.report_buildingList", ng-value="bu") {{ bu.name }}
                .form-group.col-lg-4.col-xs-4(ng-hide="isGenericApp()")
                    //- blocks
                    label(for="block")
                        | {{ "Choose block:alerts" | translate }}
                    select.form-control(ng-model="block", ng-change="showBlock()")
                        option(value="") {{ 'Choose block:alertsList' | translate }}
                        option(ng-repeat="bl in $root.report_data.blocks1", ng-value="bl") {{ bl.name }}
                .form-group.col-lg-4.col-xs-4(ng-hide="isGenericApp()")
                    //- apartments
                    label(for="apartments")
                        | {{ "Choose apartment:alerts" | translate }}
                    select.form-control(ng-model="apartment")
                        option(value="") {{ 'Choose apartment:alertsList' | translate }}
                        option(ng-repeat="ap in dt.apartments2", ng-value="ap") {{ ap.name }}
                .form-group.col-lg-4.col-xs-4
                    //- searchId
                    label(for="id")
                        | {{ "id:alerts" | translate }}
                    input.form-control(ng-model="searchId" , placeholder="{{ 'alertId:alertsList' | translate }}")
                .form-group.col-lg-4.col-xs-4
                    //- category
                    label(for="category")
                        | {{ "category:alerts" | translate }}
                    select.form-control( ng-model='category' )
                        option( value='' ) {{ 'allCategories:alertsList' | translate }}
                        option( disabled, value='──────────' ) ──────────
                        option( value='public' ) {{ 'public:category:alertsList' | translate }}
                        option( value='technical' ) {{ 'technical:category:alertsList' | translate }}
                .form-group.col-lg-4.col-xs-4
                    //- level
                    label(for="level")
                        | {{ "level:alerts" | translate }}
                    select.form-control( ng-model='level' )
                        option( value='' ) {{ 'allLevels:alertsList' | translate }}
                        option( disabled, value='──────────' ) ──────────
                        option( value='low' ) {{ 'low:level:alertsList' | translate }}
                        option( value='medium' ) {{ 'medium:level:alertsList' | translate }}
                        option( value='high' ) {{ 'high:level:alertsList' | translate }}
                        option( value='critical' ) {{ 'critical:level:alertsList' | translate }}
                .form-group.col-lg-4.col-xs-4(ng-hide="!isGenericApp()")
                    //- rules
                    label(for="rules")
                        | {{ "rules:alerts" | translate }}
                    select.form-control( ng-model='rule' )
                        option( value='' ) {{ 'allRules:alertsList' | translate }}
                        option( disabled, value='──────────' ) ──────────
                        option(ng-repeat="rule in rules | orderBy:'+name'", ng-value="rule") {{ rule.name }}
                .form-group.col-lg-4.col-xs-4(ng-hide="!isGenericApp()")
                    //- status
                    label(for="status")
                        | {{ "status:alerts" | translate }}
                    select.form-control( ng-model='status' )
                        option( value='all' ) {{ 'allStatus:alertsList' | translate }}
                        option( disabled, value='──────────' ) ──────────
                        option( value='' ) {{ 'active:status:alertsList' | translate }}
                        option( value='new' ) {{ 'new:status:alertsList' | translate }}
                        option( value='archived' )
                            | {{ 'archived:status:alertsList' | translate }}
                //- dates
                .form-group.col-lg-4.col-xs-4
                    //- from
                    label(for="from")
                        | {{ "from:report" | translate }}
                    datepicker(ng-model="$root.report_date.start", max="{{maxDate}}", ng-model-options="{allowInvalid: true}")
                    //- to
                    label(for="to")
                        | {{ "to:report" | translate }}
                    datepicker(ng-model="$root.report_date.end", max="{{maxDate}}", ng-model-options="{allowInvalid: true}")
                    //-label(for="from")
                        | {{ "from:alerts" | translate }}
                    //-input.form-control(type="date", ng-model="after", max="{{maxDate}}", ng-model-options="{allowInvalid: true}")

                    //-label(for="to")
                        | {{ "to:alerts" | translate }}
                    //-input.form-control(type="date", ng-model="before", max="{{maxDate}}", ng-model-options="{allowInvalid: true}")
                //- acknowledged
                .form-group.col-lg-4.col-xs-4(ng-hide="isGenericApp()")
                    label(for="to")
                        | {{ "acknowledged:alerts" | translate }}
                    select.form-control(ng-model="acknowledged")
                        option( value='all' ) {{ 'all:acknowledged:alertsList' | translate }}
                        option( disabled, value='──────────' ) ──────────
                        option( value='y') {{ 'yes:acknowledged:alertsList' | translate }}
                        option( value='n') {{ 'no:acknowledged:alertsList' | translate }}
                //- tags input
                .form-group.col-xs-12
                    //- searchTags
                    label(for="tags")
                        | {{ "tags:alerts" | translate }}
                    array-input(ng-model="searchTags", placeholder="{{'add:arrayInput'|translate}}")
                //- buttons
                .form-group.col-lg-12.col-xs-12
                    .btn-toolbar.pull-right
                        button.btn.green(ng-click="generate()", ng-disabled="isLoading")
                            span(ng-if="!isGenericApp()") {{ 'Generate:report' | translate }}
                            span(ng-if="isGenericApp()") {{'search:'+$root.__module.name|translate}}

div(ng-class="__id ? 'col-xs-7 visible-lg-block' : 'col-xs-12'")
    .portlet.light.bordered(ng-hide="isLoading")
        .portlet-body
            .dataTables_wrapper.no-footer.DTS
                //- list-view
                list-view(
                ng-class='{detailed:__id}'
                columns="columns",
                data="data",
                config="{debug: true, actions: false}",
                selected-fn="select",
                sort-fn="orderBy",
                at-bottom="loadMore()",
                filtered="filtered",
                item="item")

ng-include.col-lg-5.col-xs-12(ng-if='__id', ng-class='{detailed:__id}', src="'alertsList/details.pug'" )
